body {background-color: lightblue;}
p {text-transform: none;margin: auto;}
h1 {color: red;font-family: Verdana, Geneva, Tahoma, sans-serif;}
h2 {color: rgba(255, 0, 0, 0.781);font-family: Georgia, 'Times New Roman', Times, serif;}
li {font-family: Georgia, 'Times New Roman', Times, serif;}
